<style>

  body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
  }

  #header {
    background: #1152b2;
    height: 200px;
  }

  #header
h1 {
    margin: 0;
    padding-top: 15px;
  }
h2{
    position: absolute;
    left: 79px;
    top: 99px;
    color:#f2ecd2
    }
    img {
  	max-width: 100%;
}
h3{
    color: #ffffff
}
h4{
  color: #ffffff
}
  main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
  }

  #nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 230px;
    margin-left: -100%;
    background: #8aa3cc;
  }

  #footer {
    clear: left;
    width: 100%;
    background: #123051;
    text-align: center;
    padding: 4px 0;
  }

  #wrapper {
    overflow: hidden;
  }

  #content {
    margin-left: 230px; /* Same as 'nav' width */
  }

  .innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
  }

  p {
    color: #ffffff;
    position: absolute;
    left: 76px;
    top: 0px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul a {
    color: darkgreen;
    text-decoration: none;
  }

</style>
