body{
font-family: fantasy;
font-weight: normal;
font-size: 1rem
}
.container {
  max-width: 800px;
  margin: auto;
}
h1 {
  color: #F46036;
}
img {
    max-width: 100%;
}
gallery-item {
    background: #647F31;
    width: 20%;
    height: 300px;
    float: left;
    margin: 2%;
